[Unit]
Description=Wii U GC Adapter

[Service]
TimeoutStartSec=infinity
ExecStart=${HOME}/.local/bin/wii-u-gc-adapter

[Install]
WantedBy=multi-user.target
